name: C/C++ CI

on:
  push:
    branches: 'master'
  pull_request:
    branches: '*'
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install git gcc-multilib gcc g++ autoconf pkg-config make automake libtool libxml2-dev libxml2 python3 python3-dev python3-pip python3-setuptools openssl libssl-dev
    - name: autoreconf
      run: autoreconf -i
    - name: configure
      run: ./configure -q --enable-debug CXXFLAGS=-coverage CFLAGS=-coverage LDFLAGS=-lgcov --prefix=/usr
    - name: make
      run: make -j10
    - name: install
      run: sudo make install
    - name: install pytrap
      run: (cd pytrap && make test; sudo pip install . ;)
    - name: tests pycommon
      run: (cd pycommon && pip install .[test] && python3 -m pytest;)
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - uses: codecov/codecov-action@v4
      with:
        flags: tests # optional
        name: nemea-framework # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
        token: ${{ secrets.CODECOV_TOKEN }} # required

